[submodule "Linux-Optimizer"]
	path = Linux-Optimizer
	url = https://github.com/hawshemi/Linux-Optimizer.git
[submodule "VPS-Optimizer"]
	path = VPS-Optimizer
	url = https://github.com/opiran-club/VPS-Optimizer.git
[submodule "3x-ui"]
	path = 3x-ui
	url = https://github.com/MHSanaei/3x-ui.git
[submodule "Chisel_multipleServers"]
	path = Chisel_multipleServers
	url = https://github.com/Azumi67/Chisel_multipleServers.git
[submodule "Rathole_reverseTunnel"]
	path = Rathole_reverseTunnel
	url = https://github.com/Azumi67/Rathole_reverseTunnel.git
[submodule "x-ui"]
	path = x-ui
	url = https://github.com/alireza0/x-ui.git
[submodule "PrivateIP_TCP-UDP_Tunnel"]
	path = PrivateIP_TCP-UDP_Tunnel
	url = https://github.com/Azumi67/PrivateIP_TCP-UDP_Tunnel.git
